body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

header {
  background-color: #000;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px;
  margin-top: 15px;

}

header button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

header h1 {
  font-size: 30px;
  margin: 0;
}

.busqueda {
  margin: 20px 0;

}

.busqueda input {
  padding: 10px;
  width: 30%;
  border-radius: 5px;
  border: 1px solid #ccc;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #fff;
  background-color: #f2f2f2;
}

@keyframes moverTexto {
  0% {
    transform: translateX(-20%);
    /* Inicia en el lado izquierdo */
  }

  50% {
    transform: translateX(0);
    /* Se detiene en el centro */
  }

  100% {
    transform: translateX(20%);
    /* Se mueve hacia el lado derecho */
  }
}

.texto {
  width: 100%;
  color: transparent;
  text-align: center;
  font-size: 100px;
  /* Usar unidades relativas para el tamaño del texto */
  font-weight: bold;

  background-image: url('paisaje.png');
  background-size: cover;
  background-position-y: 300px;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  position: relative;
  /* Necesario para posicionar el texto de forma relativa */
  animation: moverTexto 4s ease-in-out infinite;
  /* Aplicar la animación */
  display: inline-block;
  /* Asegura que solo el texto en movimiento se ajuste */
}

@media (max-width: 768px) {
  .texto {
    font-size: 60px;
    /* Ajustar tamaño de fuente para pantallas más pequeñas */
  }

  .hero {
    background-position: center;
  }
}


.carrusel {
  width: 80%;
  margin: 0 auto;
  position: relative;
  margin-top: 15px;
}

.slides img {
  width: 100%;
  display: none;
  border-radius: 40px;
}

hr {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
}

#sobre-nosotros,
#login,
#register {
  padding: 20px;
  background-color: #d3d2d2;
}

.mision-vision {
  display: flex;
  justify-content: space-around;
}

.mision-vision .vision,
.mision-vision .mision {
  width: 45%;
  text-align: left;
  font-size: 17px;
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}

form label {
  margin-top: 10px;
}

form input,
form select {
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

footer .foteer2 {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 5%;
  padding: 30px 60px;
  margin-top: 15px;
  font-size: 15px;
}


.products .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .7rem 1rem;
  font-size: 2rem;
  color: var(--blue);
  background: rgba(255, 51, 153, .05);
  z-index: 1;
  border-radius: .5rem;
}

.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 25rem;
  border-radius: 40px;
  box-shadow: 0 0 20px #5855f0;
}

.products .box-container .box:hover .image img {
  transform: scale(1.1);

}

.products .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
}

.products .box-container .box:hover .image .icons {
  bottom: 0;

}

.products .box-container .box .image .icons a {
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background: var(--blue);
  color: #fff;
}

.products .box-container .box .image .icons .cart-btn {
  border-left: .1rem solid #fff7;
  border-right: .1rem solid #fff7;
  width: 100%;
}



.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.products .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.products .box-container .box .content .price {
  font-size: 2.5rem;
  color: var(--blue);
  font-weight: bolder;
  padding-top: 1rem;
}

.products .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}

.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  padding: 3rem 2rem;
  position: relative;
  border: .1rem solid rgba(0, 0, 0, .1);
}


/*Ultimos diseños*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  transition: .2s linear;
}

html {
  font-size: 60%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

.heading {
  text-align: center;
  font-size: 35px;
  color: #ffffff;
  padding: 1rem;
  margin: 2rem 0;
  background-color: #000000;
  margin-top: 50px;
}

.heading span {
  color: var(--blue);
}

.icons-container {
  background: #f34848;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons {
  background: #fff;
  border: .1rem solid rgba(0, 0, 0, .1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
}

.icons-container .icons img {
  height: 5rem;
  margin-right: 2rem;
}

.icons-container .icons h3 {
  color: #333;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.icons-container .icons span {
  color: #555;
  font-size: 1.3rem;
}

.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.products .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  border: .1rem solid rgba(0, 0, 0, .1);
  position: relative;
}

.products .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .7rem 1rem;
  font-size: 2rem;
  color: var(--blue);
  background: rgba(255, 51, 153, .05);
  z-index: 1;
  border-radius: .5rem;
}

.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box:hover .image img {
  transform: scale(1.1);
}

.products .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
}

.products .box-container .box:hover .image .icons {
  bottom: 0;
}

.products .box-container .box .image .icons a {
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background: var(--blue);
  color: #fff;
}

.products .box-container .box .image .icons .cart-btn {
  border-left: .1rem solid #fff7;
  border-right: .1rem solid #fff7;
  width: 100%;
}


.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.products .box-container .box .content h3 {
  font-size: 2.0rem;
  color: #000000;
}

.products .box-container .box .content .price {
  font-size: 2.5rem;
  color: var(--blue);
  font-weight: bolder;
  padding-top: 1rem;
}

.products .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}

.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  padding: 3rem 2rem;
  position: relative;
  border: .1rem solid rgba(0, 0, 0, .1);
}

.review .box-container .box .fa-quote-right {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 6rem;
  color: #eee;
}

.review .box-container .box .stars i {
  color: var(--blue);
  font-size: 2rem;
}

.review .box-container .box p {
  color: #999;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2rem;
}

.review .box-container .box .user {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.review .box-container .box .user img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.review .box-container .box .user h3 {
  font-size: 2rem;
  color: #333;
}

.review .box-container .box .user span {
  font-size: 1.5rem;
  color: #999;
}

.contact .row {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  align-items: center;
}

.contact .row form {
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
  border: .1rem solid rgba(0, 0, 0, .1);
  background: #fff;
  border-radius: .5rem;
}

.contact .row .image {
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form .box {
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: .1rem solid rgba(0, 0, 0, .1);
  border-radius: .5rem;
  margin: .7rem 0;
  width: 100%;
}

.contact .row form .box:focus {
  border-color: var(--blue);
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: var(--blue);
  text-decoration: underline;
}

.footer .box-container .box img {
  margin-top: 1rem;
}

.footer .credit {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #333;
  border-top: .1rem solid rgba(0, 0, 0, .1);
  padding-bottom: 9rem;
}

.footer .credit span {
  color: var(--blue);
}




.descripcion {
  font-size: 14px;
  background-color: rgba(250, 250, 250, 0.4);
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
}

/* media queries  */
@media (max-width:991px) {

  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  .home {
    background-position: left;
  }

}




/*INVENTAARIO productors y proveedores */


body {
  background-color: #f3f3f3;
  font-family: 'Roboto', sans-serif;
  color: #4A5253;
  font-size: 14px;
  /* min-width: 400px; */
  min-width: 365px;
}

label {
  color: #1F2122;
}

::-webkit-input-placeholder {
  color: #989AA1;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #989AA1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #989AA1;
}

:-ms-input-placeholder {
  color: #989AA1;
}

a {
  color: #02A477;
}

a:hover,
a:focus,
a:active {
  color: #02956C;
  cursor: pointer;
  text-decoration: underline;
}

nav.navbar {
  background-image: linear-gradient(to right, #00BF8F, #004F3C);
  color: #ffffff;
  margin-bottom: 0;
}

.sidebar-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  z-index: 1000;
  -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}

.sidebar-overlay.active {
  opacity: 0.5;
  visibility: visible;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}

.openLeftSidebar {
  color: initial;
  color: #ffffff;
  float: left;
  padding: 20.5px 15px;
  font-size: 17px;
  line-height: 23px;
  height: 64px;
  margin-right: 10px;
}

.openLeftSidebar:hover {
  color: #ffffff;
}

.openRightSidebar {
  color: #ffffff;
  /* border-left: 1px solid #ddd; */
  float: left;
  padding: 20.5px 15px;
  font-size: 17px;
  line-height: 23px;
  height: 64px;
}

.openRightSidebar:hover {
  color: #ffffff;
}

.showsidebar {
  left: 0px !important;
  z-index: 9999;
}

.caret.caret-reverse {
  border-top-width: 0;
  border-bottom: 4px solid;
}

.shadow-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.shadow-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.shadow-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.shadow-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.breadcrumbs {
  background-color: #e7e7e7;
  /* background-color: #ffffff; */
  /* color: #444; */
  color: #6E6E6E;
  line-height: 20px;
  /* vertical-align: middle; */
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 0px;
  padding-top: 10px;
}

.breadcrumbs i {
  padding-left: 10px;
  padding-right: 10px;
  top: 8px;
  position: relative;
}

.breadcrumbs ul {
  display: inline-block;
  padding-left: 5px;
}

.breadcrumbs ul li {
  display: inline-block;
}

.breadcrumbs ul li::after {
  content: " >";
}

.breadcrumbs ul li:last-child::after {
  content: "";
}

.panel {
  margin-top: 20px;
  /*.panel-footer{
        border-top: 1px solid #e7e7e7;
    }*/
}

.panel .panel-header {
  padding: 5px 15px;
  padding-bottom: 0px;
  border-bottom: 1px solid #e7e7e7;
}

.panel .panel-header .panel-title {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
  padding-left: 5px;
  padding-right: 5px;
}

.panel .panel-content {
  padding: 15px;
}

.table-responsive {
  border: none;
}

.boxed-input {
  border: 1px solid #e7e7e7 !important;
  box-shadow: none !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.boxed-input:focus {
  border-bottom: 1px solid #02A477 !important;
  box-shadow: 0 1px 0 0 #02A477 !important;
}

.boxed-input.hasError:focus {
  border-bottom-color: #e51c23 !important;
  box-shadow: 0 1px 0 0 #e51c23 !important;
}



table {
  background-color: #eeeeee;
}

table thead {
  background-color: #000000;
}

table thead th {
  color: #fff;
}

table a i {
  text-decoration: none;
  color: #989BA2;
}

.btn-primary {
  background-color: #02A477;
  color: #000000;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary:focus {
  background-color: #036b4e;
  color: #000;
}

.btn-secundary {
  -webkit-background-size: 200% 200%;
  background-size: 200%;
  background-position: 50%;
  color: #fff;
  background-color: #768185;
}

.btn-secundary:hover,
.btn-secundary:active:hover,
.btn-secundary:focus {
  background-color: #484D4F;
  color: #fff;
}

input[type="radio"]::before {
  background-color: #02A477 !important;
}

input[type="radio"]::after {
  border-color: #02A477 !important;
}

input[type="checkbox"]:checked::after {
  background-color: #02A477 !important;
  border-color: #02A477 !important;
}

#checkAll::after {
  border-color: white !important;
}

footer {
  color: #000000;
  text-align: center;
  background-color: #000;
}

footer .footer-system {
  background-color: #000000d0;
  padding: 7px;
  font-size: 110%;
  color: #ffffff;
}

footer .footer-credits {
  background-color: #000000d0;
  padding: 3px;
  font-size: 110%;
  color: #ffffff;
}

.table-checkbox {
  text-align: center;
}

.datepicker-icon {
  top: 7px;
  position: relative;
  padding-left: 5px;
  cursor: pointer;
}

.filter::after {
  font-size: 11px;
  content: " \\/";
}

.profile-nav {
  vertical-align: middle;
  padding: 15px;
  line-height: 23px;
  height: 64px;
  float: left;
  text-decoration: none;
  color: white;
}

.profile-nav:hover {
  color: white;
}

.profile-nav .profile-nav-text {
  display: inline-block;
  line-height: 35px;
  vertical-align: middle;
  text-align: right;
}

.profile-nav .profile-nav-text .profile-nav-text-name {
  /* display:inline-block; */
  font-weight: bold;
  /* line-height: 17.5px; */
  line-height: 20px;
}

.profile-nav .profile-nav-text .profile-nav-text-job {
  /* display:inline-block; */
  font-size: 12px;
  line-height: 12px;
  /* line-height: 17.5px; */
}

.profile-nav .profile-nav-pic {
  display: inline-block;
  vertical-align: middle;
  padding-left: 7px;
}

.profile-nav .profile-nav-pic img {
  width: 35px;
  height: auto;
  border-radius: 50%;
  border: 1px solid #ddd;
  vertical-align: middle;
}

.busqueda .fa-solid {
  font-size: 25px;
  position: relative;
  top: 5px;
}

.busqueda:hover .fa-solid {
  color: #0400f8;


}

.btn1-primary {
  background-color: #0d0e0d;
  color: #fffcfc;
}

.btn1-primary:hover,
.btn1-primary:active:hover,
.btn1-primary:focus {
  background-color: #036b4e;
  color: #ffffff;
}


.table-responsive {
  width: 1115px;
  height: 500px;
  overflow: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.btn2-primary {
  background-color: #0d0e0d;
  color: #fffcfc;
}

.btn2-primary:hover,
.btn2-primary:active:hover,
.btn2-primary:focus {
  background-color: #036b4e;
  color: #ffffff;
}